*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a68ff;

}
.container{
    width: 22rem; height: 22rem;
    background-color: #f35430;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shadow 2s ease-in-out  infinite;
    animation-direction: alternate;

}
.finger{
    width: 2.8rem;
    height: 8.125rem;
    background-color: #f7c86d;
    margin-right: 5px;
    border-radius: 15px 15px 25px 25px;
    position: relative;
    left: 10px;
    animation: move 1.5s ease-in-out infinite;
    
}
.finger:nth-child(1){
    height: 8.125rem;
    
    
}
.finger:nth-child(2){
    height: 9.375rem;
    animation-delay: 0.1s;
    
}
.finger:nth-child(3){
    height: 10.625rem;
    animation-delay: 0.2s;
}
.finger:nth-child(4){
    height: 9.375rem;
    animation-delay: 0.3s;
}
.pollex{
    width: 3.75rem;
    height: 2.8rem;
    background-color: #f7c86d;
    border-radius: 15px 25px 75px 15px;
    position:relative;
    left: 10px;
    animation: salam 1.5s ease-in-out infinite;
    animation-delay: 0.4s;
    
}
.nail{
    width: 1.878rem;
    height: 1.878rem;
    background-color: #f5f5f5;
    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
    border-radius: 25px 25px 15px 15px;

}
.finger::before,.finger::after{
    content: " ";
    width: 1.875rem;
    height: .3rem;
    background-color: #e69b4c;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

}
.finger::after{
    top: 20px;
}
@keyframes shadow{
    0%{
        box-shadow: 0 0 0 10px #fff;

    }
    100%{
        box-shadow: 0 0 0 35px #f35430;
    }
}
@keyframes move{
    0%{
        transform: scale(1) translateY(0px);
    }
    20%{
        transform: translateY(-30px) scaleY(0.8);
    }
    100%{
        transform: translateY(0px) scaleY(1);
    }

}
@keyframes salam{
    0%{
        transform: scaleY(1) translateY(0);
    }
    30%{
        transform: scaleY(.9) translateY(-30px);
    }
    40%{
        transform: scaleY(.9) translateY(-30px);
    }
    60%{
        transform: scaleY(1) translateY(0);
    }
    80%{
        transform: scaleY(1) translateY(0);
    }
    100%{
        transform: scaleY(1) translateY(0);
    }
}
